<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @residence.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @residence.phone_number %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @residence.rent %>
</p>

<%= link_to 'Edit', edit_residence_path(@residence) %> |
<%= link_to 'Back', residences_path %>
